@import url("https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html::-webkit-scrollbar {
  display: none;
}

img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 100%;
}

.app {
  min-height: 100vh;
  background: linear-gradient(90deg, #081621, #0b2731, #0d3742, #0e4454);
  color: white;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}
nav .icons .nav-icon {
  margin-right: 30px;
  margin-bottom: 10px;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

.nav-icon {
  font-size: 1.7rem;
  cursor: pointer;
  color: #aaa;
  transition: 0.1s;
}
.nav-icon:hover {
  color: #eee;
  transform: scale(1.3);
}

.movies-category {
  padding: 10px 1.5rem;
  position: relative;
}
.movies-category::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(50px, -50%);
  right: 0;
  width: 200px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-filter: blur(40px);
  filter: blur(40px);
}
.movies-category ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  overflow-x: auto;
}
.movies-category ul::-webkit-scrollbar {
  display: none;
}
.movies-category ul li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 100;
  padding: 0 1rem;
  white-space: nowrap;
  color: #aaa;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.1s;
}
.movies-category ul li:hover {
  color: #ddd;
  transform: scale(1.1);
}

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 1rem 2rem;
}

.movie-card {
  padding: 1em;
  transition: 0.2s;
}
.movie-card .movie-img {
  height: 220px;
}
.movie-card .content {
  margin: 10px 0;
}
.movie-card .content .timestamp {
  font-size: 0.8rem;
  margin: 10px 0;
  opacity: 0;
}
.movie-card .content p {
  color: #bbb;
  font-weight: 600;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.movie-card:hover {
  transform: scale(1.13);
}
.movie-card:hover .timestamp {
  opacity: 1;
}
